*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial,sans-serif;
    background: #ffffff;
    color: #111111;
}

.Floatingbtn {
            position: fixed;
            right: 30px;
            bottom: 30px;

            width: 65px;
            height: 65px;

            border-radius: 50%;
            border: none;

            background: #111111;
            color: #2563eb;

            font-size: 25px;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            box-shadow: 0 20px 60px rgb(22, 99, 193);

            z-index: 999;

            animation: float 2s ease-in-out infinite;

            transition: 0.3s;
        }

.Floatingbtn:hover{
    box-shadow: 0 20px 60px #111111;
}


.header{
    width: 100%;
    padding: 20px 6%;
    border-bottom: 1px solid #eeeeee;
}

.navbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    gap: 32px;
    list-style: none;
}

.button{
    margin: 0;
    padding: 11px 20px;
    border: none;
    border-radius: 7px;
    background: #111111;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover{
    background: #333333;
    transform: translateY(-2px);
}

.button:active{
    transform: scale(0.96);
}

.visual-circle:hover{
    background: #333333;
    transform: translateY(-2px);
}

.visual-circle:active{
    transform: scale(1);
}

.nav-links a{
    position: relative;
    text-decoration: none;
    color: #111111;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3 ease;

}

.nav-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #2563eb;
    transition: width 0.3 ease;
}

.nav-links a:hover{
    color: #2563eb;
}

.nav-links a:hover::after{
    width: 100%;
}

.hero{
    max-width: 1200px;
    min-height: 620px;
    margin: auto;
    padding: 100px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-content{
    max-width: 620px;
}

.hero-badge{
    display: inline-block;
    margin-bottom: 24px;
    padding: 8px 14px;
    border: 1px solid #eaeaea;
    border-radius: 50px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    background-color: #111111;
}

.hero-content h1{
    margin-bottom: 24px;
    color: #111111;
    font-size: 64px;
    line-height: 1.05;
    letter-spacing: -2px;
}

.hero-content h1 span{
    color: #2563eb;
}

.hero-content p{
    max-width: 540px;
    margin-bottom: 32px;
    color: #666666;
    font-size: 17px;
    line-height: 1.7;
}

.hero-button{
    display: flex;
    gap: 14px;
}

.hero-btn{
    padding: 13px 22px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3 ease;
}

.primary-btn{
    background-color: #111111;
    color: #ffffff;
}
.primary-btn:hover{
    background: #2563eb;
    transform: translateY(-2px);
}

.logo{
    padding: 11px 20px;
    border: 1px solid #dddddd;
    border-radius: 7px;
    background-color: #111111;
    color: #ffffff;
    cursor: pointer;
}

.secondary-btn{
    border: 1px solid #dddddd;
    color: #111111;
    border-color: #111111;
}

.secondary-btn:hover{
    background: #2563eb;
    transform: translateY(-2px);
}

.secondary-btn{
    border: 1px solid #dddddd;
    color: #111111;
    border-color: #111111;
}

.secondary-btn:hover{
    border-color: #2563eb;
    color: #ffffff;
    transform: translateY(-2px);
}

.hero-visual{
    width: 430px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visual-card{
    width: 100%;
    height: 100%;
    padding: 28px;
    border: 1px solid #eaeaea;
    border-radius: 24px;
    background-color: #f7f8fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.8);
}

.visual-card:hover{
    transform: scale(1.1);
    transition: 2s ease;
}

.visual-card:active{
    scale: 0.96;
}



.visual-top{
    display: flex;
    justify-content: space-between;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
}

.visual-circle{
    width: 210px;
    height: 210px;
    margin: auto;
    border-radius: 50%;
    background: #111111;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    box-shadow: 0 20px 50px rgba(37, 99, 235, 0.18);
    transition: 0.3s ease;
    cursor: pointer;
}

.visual-bottom{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #666666;
    font-size: 14px;
}

.visual-bottom strong{
    color: #111111;
    font-size: 18px;
}

.about{
    padding: 120px 6%;
    background: #ffffff;
}

.about-container{
    max-width: 1200px;
    margin: auto;
}

.about-header{
    max-width: 800px;
    margin-bottom: 70px;
}

.about-label{
    display: inline-block;
    margin: 18px;
    color: #2563eb;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.about-header h2{
    color: #111111;
    font-size: 58px;
    line-height: 1.05;
    letter-spacing: -2px;
}

.about-header h2 span{
    color: #2563eb;
}


.about-main{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 80px;
    padding-bottom: 70px;
    border-bottom: 1px solid #eaeaea;
}

.about-intro{
    max-width: 420px;
}

.about-intro p{
    margin-bottom : 30px;
    color: #666666;
    font-size: 18px;
    line-height: 1.7;
}

.about-link{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #111111;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s ease;
}

.about-link:hover{
    color: #2563eb;
}


.about-features{
    display: flex;
    flex-direction: column;
}


.about-feature{
    display: grid;
    grid-template-columns: 55px 1fr;
    gap: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #eaeaea;
    transition: 0.3s ease;
}


.about-feature:first-child{
    padding-top: 0;
}

.about-feature:last-child{
    border-bottom: none;
}


.feature-number{
    color: #2563eb;
    font-size: 13px;
    font-weight: 700;
}

.about-feature h3{
    margin-bottom: 8px;
    color: #111111;
    font-size: 21px;
}


.about-feature p{
    max-width: 430px;
    color: #666666;
    font-size: 14px;
    line-height: 1.6;

}


.about-feature:hover{
    transform: translateX(6px);
}


.about-stats{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 30px;
    padding-top: 55px;
}



.about-stat{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-stat strong{
    color: #111111;
    font-size: 34px;
    letter-spacing: -1px;
}


.about-stat span{
    color: #777777;
    font-size: 13px;
}

.Services{
    padding: 140px 6%;
    background: #f7f8fa;
}

.services-container{
    max-width: 1200px;
    margin: auto;
}

.services-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 70px;
}

.services-label{
    display: inline-block;
    margin: 18px;
    color: #2563eb;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.services-header h2{
    max-width: 700px;
    color: #111111;
    font-size: 58px;
    line-height: 1.05;
    letter-spacing: -2px;
}


.services-header h2 span{
    color:#2563eb;
}


.Services-intro{
    max-width: 360px;
    color: #666666;
    font-size: 15px;
    line-height: 1.7;
}


.featured-services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-bottom: 18px;
}


.feature-service-content{
    min-height: 340px;
    padding: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.service-number{
    margin-bottom: 18px;
    color: #2563eb;
    font-size: 12px;
    font-weight: 700;
}


.feature-service-content h3{
    max-width: 500px;
    margin-bottom: 16px;
    color: #111111;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: -1px;
}


.feature-service-content p{
    max-width: 500px;
    margin-bottom: 28px;
    color: #666666;
    font-size: 15px;
    line-height: 1.7;
}


.service-link{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    color: #111111;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s ease;
}


.service-link:hover{
    color: #2563eb;
}


.service-link span{
    font-size: 18px;
    transition: 0.3s ease;
}

.service-link:hover span{
    transform: translateX(5px);
}


.featured-service-visual{
    min-height: 340px;
    padding: 25px;
    border-radius: 18px;
    background-color: #111111;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}


.featured-service-visual::before{
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 50%;
    background:#2563eb;
    opacity: 0.16;
    filter: blur(5px);
}

.featured-service-visual:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.service-visual-top{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}


.service-visual-center{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.visual-word{
    color: #ffffff;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -2px;
}


.visual-line{
    width: 100px;
    height: 2px;
    background: #2563eb;
}


.services-bottom{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    color: #777777;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}